.input{
  height: 2rem;
  width: 5rem;
  margin: 0px 15px;
}
.btn{
  height: 1.5rem;
  width: 5rem;
  border-radius: 1px;
  background-color: black;
  color: white;
}
.main{
  box-shadow: 10px -4px 20px 1px rgba(0,0,0,0.61);
-webkit-box-shadow: 10px -4px 20px 1px rgba(0,0,0,0.61);
-moz-box-shadow: 10px -4px 20px 1px rgba(0,0,0,0.61);
height: 90vh;
width: 85%;
margin: auto;
}
